<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rupali CV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="/css/flexslider.css">
    <!-- Flaticons  -->
    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Modernizr JS -->
    <script src="/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div id="colorlib-page">
    <div class="container-wrap">
        <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
        <aside id="colorlib-aside" role="complementary" class="border js-fullheight">
            <div class="text-center">
                <h1 id="colorlib-logo"><a href="/" th:text="${user.firstName + ' ' +  user.lastName}"></a></h1>
                <span class="position">Full Stack Web Developer</span>
                <div class="author-img" style="background-image: url(/images/about.jpg);"></div>
            </div>
            <nav id="colorlib-main-menu" role="navigation" class="navbar">
                <div id="navbar" class="collapse">
                    <ul style="float: right; text-align: right; padding-right: 1rem;">
                        <li class="active"><a href="#" data-nav-section="home">Home</a></li>
                        <li><a href="#" data-nav-section="about">About</a></li>
                        <li><a href="#" data-nav-section="skills">Skills</a></li>
                        <li><a href="#" data-nav-section="education">Education</a></li>
                        <li><a href="#" data-nav-section="experience">Experience</a></li>
                        <!--<li><a href="#" data-nav-section="work">Work</a></li>-->
                        <li><a href="#" data-nav-section="contact">Contact</a></li>
                    </ul>
                </div>
            </nav>

            <div class="colorlib-footer">
                <br>
                <ul>
                    <li><a href="${user.linkedUrl}"><i class="icon-linkedin2"></i></a></li>
                </ul>
                <p><small>
                    This website is developed by me and deployed on Heroku
                </small></p>
            </div>

        </aside>

        <div id="colorlib-main">
            <section id="colorlib-hero" class="js-fullheight" data-section="home">
                <div class="flexslider js-fullheight">
                    <ul class="slides">
                        <li>
                            <div class="overlay"></div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
                                        <div class="slider-text-inner js-fullheight">
                                            <div class="desc">
                                                <h1>Hi! <br>I am <span th:text="${user.firstName}"></span></h1>
                                                <p><a class="btn btn-primary btn-learn" href="/downloadResume">Download CV<i class="icon-download4"></i></a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--<li style="background-image: url(../../static/images/img_bg_2.jpg);">
                            <div class="overlay"></div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
                                        <div class="slider-text-inner">
                                            <div class="desc">
                                                <h1>I am <br>a Full stack developer</h1>
                                                <p><a class="btn btn-primary btn-learn">View Portfolio <i class="icon-briefcase3"></i></a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>-->
                    </ul>
                </div>
            </section>

            <section class="colorlib-about" data-section="about">
                <div class="colorlib-narrow-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
                                <div class="col-md-12">
                                    <div class="about-desc">
                                        <span class="heading-meta">About me</span>
                                        <h2 class="colorlib-heading">Who Am I?</h2>
                                        <p>
                                            <strong>Hi, I'm Rupali Soni</strong> and below is my professional career summary as a Web developer
                                            <ul>
                                                <li>Overall 9 Years of experience in IT industry as Web and UI/UX Developer</li>
                                                <li>Enthusiastic senior team member and capable to develop standalone applications efficiently within a given time frame</li>
                                                <li>Worked as a programmer for various applications in variety of domains like Social
                                                    networking, Entertainment, Mobile games, eCommerce, Job portals, Health care
                                                    services etc</li>
                                                <li>Experienced in developing User interfaces along with RESTful web services with service
                                                    oriented architecture (SOA)</li>
                                                <li>Having experience in managing a team for around 4-5 members</li>
                                                <li>Having deep understanding of NPM package manager . Also Experienced working with
                                                    some popular NPM modules like mongoose, bunyan, socket, fs, os, buffer etc</li>
                                                <li>Experienced working with TDD , BDD approaches for quality product development</li>
                                                <li>Having a coherent understanding of OOPs concepts</li>
                                                <li>Hands-on experience in asynchronous programming</li>
                                                <li>Experienced in User authentication, authorization, Data protection & Debugging Skills</li>
                                                <li>Possess good Communication and Presentation skills</li>
                                                <li>Experienced writing bash scripts and shell scripts as well</li>
                                                <li>Worked in vagrant and docker environments</li>
                                                <li>Experienced working with AWS service environment</li>
                                                <li>Worked in Linux, MacOs and Windows environments</li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--<div id="colorlib-counter" class="colorlib-counters" style="background-image: url(static/images/cover_bg_1.jpg);" data-stellar-background-ratio="0.5">
                <div class="overlay"></div>
                <div class="colorlib-narrow-content">
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-center animate-box">
                            <span class="colorlib-counter js-counter" data-from="0" data-to="309" data-speed="5000" data-refresh-interval="50"></span>
                            <span class="colorlib-counter-label">Cups of coffee</span>
                        </div>
                        <div class="col-md-3 text-center animate-box">
                            <span class="colorlib-counter js-counter" data-from="0" data-to="356" data-speed="5000" data-refresh-interval="50"></span>
                            <span class="colorlib-counter-label">Projects</span>
                        </div>
                        <div class="col-md-3 text-center animate-box">
                            <span class="colorlib-counter js-counter" data-from="0" data-to="30" data-speed="5000" data-refresh-interval="50"></span>
                            <span class="colorlib-counter-label">Clients</span>
                        </div>
                        <div class="col-md-3 text-center animate-box">
                            <span class="colorlib-counter js-counter" data-from="0" data-to="10" data-speed="5000" data-refresh-interval="50"></span>
                            <span class="colorlib-counter-label">Partners</span>
                        </div>
                    </div>
                </div>
            </div>-->

            <section class="colorlib-skills" data-section="skills">
                <div class="colorlib-narrow-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                            <span class="heading-meta">My Specialty</span>
                            <h2 class="colorlib-heading animate-box">My Skills</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                            <p>Technical Skills</p>
                        </div>

                        <table class="table table-sm">
                            <tbody>
                                <tr>
                                    <td colspan="2">Core Languages</td>
                                    <td>Node.js, PHP 5 & 7</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Paradigm</td>
                                    <td>MVVM & MVC Architecture</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Frontend Languages</td>
                                    <td>Angular.js 1& 2, jQuery, JavaScript ES6, AJAX, React.js, Ext-JS</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Markup Languages</td>
                                    <td>HTML5</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Stylesheet</td>
                                    <td>CSS3, Bootstrap CSS</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Frameworks</td>
                                    <td>Express.js, Sails.js, Backbone.js</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Database</td>
                                    <td>Mongo DB, MySQL</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Test frameworks</td>
                                    <td>Chai.js, Mocha.js, PHPUnit</td>
                                </tr>
                                <tr>
                                    <td colspan="2">IDE</td>
                                    <td>WebStorm, Sublime, PhpStorm</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Source control tools</td>
                                    <td>GIT, SVN, Bit Bucket, Source Tree</td>
                                </tr>
                                <tr>
                                    <td colspan="2">PM Tools</td>
                                    <td>JIRA, Confluence, Fisheye, Basecamp, Trello</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Web Services</td>
                                    <td>REST API, SOAP API</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Parsing</td>
                                    <td>XML, Json Parsing</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Builder and Compiler</td>
                                    <td>Webpack & Babel</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Other Tools</td>
                                    <td>Jenkins, Docker, Pager duty, New Relic, Slack</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <section class="colorlib-education" data-section="education">
                <div class="colorlib-narrow-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Education</span>
                            <h2 class="colorlib-heading animate-box">Education</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                            <div class="fancy-collapse-panel">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Bachelor of Engineering
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p>Graduated Engineering degree with Computer Engineering stream from
                                                            <h2>Bachelor of Engineering in Computer Science From RGPV University, India</h2></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
            </section>

            <section class="colorlib-experience" data-section="experience">
                <div class="colorlib-narrow-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Experience</span>
                            <h2 class="colorlib-heading animate-box">Work Experience</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="timeline-centered">
                                <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                                    <div class="timeline-entry-inner">

                                        <div class="timeline-icon color-1">
                                            <i class="icon-pen2"></i>
                                        </div>

                                        <div class="timeline-label">
                                            at &nbsp;<h2><a href="https://def-shop.com/">DefShop GmbH</a><span> - Berlin, Germany</span></h2>
                                            as <br><h2 style="display: inline">Senior Developer and also managing a team of 3 members</h2><span style="float: right">Oct, 2017 - present</span>
                                            <br>
                                            <p>
                                                DefShop is one of the biggest Online Shop for Hip Hop clothing in Europe. It
                                                is a rapidly growing e-commerce company in Berlin. Company has an e-commerce
                                                website together with android and IOS application. Based on my role, below are the
                                                features, I have worked on:
                                            <ul>
                                                <li>Managing a team of 3-4 people, guiding them and giving a walk through the code</li>
                                                <li>Written test cases using PHPUnit to follow TDD</li>
                                                <li>Implemented email campaigns for various shop emails with Optivo Integration</li>
                                                <li>Integrated third party APIs to manage products data in shop database</li>
                                                <li>Developed new modules in backend including designing database schema</li>
                                                <li>Worked for checkout module for B2B customers using payment methods like PayPal,
                                                    Klarna etc</li>
                                                <li>Introduced multishop concept to manage other sister shops of Defshop</li>
                                                <li>Implemented Google tag manager to manage tracking and analytics of webshop</li>
                                            </ul>
                                            </p>
                                        </div>
                                    </div>
                                </article>


                                <article class="timeline-entry animate-box" data-animate-effect="fadeInRight">
                                    <div class="timeline-entry-inner">
                                        <div class="timeline-icon color-2">
                                            <i class="icon-pen2"></i>
                                        </div>
                                        <div class="timeline-label">
                                            at &nbsp;<h2>JetSynthesys Pvt. Ltd.<span> - Pune, India</span></h2>
                                            as <br><h2 style="display: inline">Senior Developer</h2><span style="float: right">March, 2017 - October, 2017</span>
                                            <p>
                                            <br>
                                                There are three exciting funzio games known as Crime City, Modern War
                                                and Kingdom age. All the three games are action games where new challenges come at
                                                different levels of games. I have mainly worked in backend of the games. Below are the
                                            <ul>
                                                <li>Creating APIs for android and IOS apps</li>
                                                <li>Store game data into the database</li>
                                                <li>Store user data, levels stages, points, gold information into database</li>
                                                <li>Admin tool management to debug games at various levels with specific assets</li>
                                                <li>Manage AWS environment and Jenkins jobs</li>
                                            </ul>
                                            </p>
                                        </div>
                                    </div>
                                </article>

                                <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                                    <div class="timeline-entry-inner">
                                        <div class="timeline-icon color-3">
                                            <i class="icon-pen2"></i>
                                        </div>
                                        <div class="timeline-label">
                                            at &nbsp;<h2>IFreelance project development<span> - India</span></h2>
                                            as <br><h2 style="display: inline">Technical Lead</h2><span style="float: right">June, 2011 - February, 2013</span>
                                            <p>
                                            <br>
                                                Harris Teeter is an American supermarket chain based in North Carolina. The
                                                chain operates 245 stores in seven states. Supermarket News ranked Harris Teeter No. 34
                                                in the 2012 "Top 75 Retailers & Wholesalers" based on 2011 fiscal year sales of $4.3
                                                billion
                                            <ul>
                                                <li>Developed web services to manage all food, stores, user details using Node.js</li>
                                                <li>Developed voice ordering system using google home and google assistant</li>
                                                <li>Implemented micro service to manage data between different servers.</li>
                                                <li>Documented and executed Test plans, Test cases and Test scripts based on business
                                                    requirement document</li>
                                            </ul>
                                            </p>
                                        </div>
                                    </div>
                                </article>

                                <article class="timeline-entry animate-box" data-animate-effect="fadeInTop">
                                    <div class="timeline-entry-inner">
                                        <div class="timeline-icon color-4">
                                            <i class="icon-pen2"></i>
                                        </div>
                                        <div class="timeline-label">
                                            at &nbsp;<h2>Webdunia India Pvt. Ltd.<span> - Mumbai, India</span></h2>
                                            as <br><h2 style="display: inline">Senior Software Engineer</h2><span style="float: right">October, 2013 - February, 2016</span>
                                            <p>
                                            <br>
                                                Network18 group owns around 16 channels under it like IBN Live, IBN
                                                Khabar, CNBC etc. To manage all the videos under single platform we have introduced
                                                Kaltura video solution. Detailed features are listed below
                                            <ul>
                                                <li>Consuming Kaltura APIs</li>
                                                <li>Video platform middle tier management</li>
                                                <li>Video tagging and detail management</li>
                                                <li>Bulk video uploading</li>
                                                <li>Created REST APIs for mobile application</li>
                                                <li>CMS management for inserting data</li>
                                                <li>HTML integration, User and role management</li>
                                            </ul>
                                            </p>
                                        </div>
                                    </div>
                                </article>

                                <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                                    <div class="timeline-entry-inner">
                                        <div class="timeline-icon color-5">
                                            <i class="icon-pen2"></i>
                                        </div>
                                        <div class="timeline-label">
                                            at &nbsp;<h2 style="display: inline">Silver Touch Tech Pvt. Ltd.</h2><br>
                                            <span> - India</span><br><br>
                                            as <br><h2 style="display: inline">Software Engineer</h2><span style="float: right">September, 2012 - October, 2013</span>
                                            <p>
                                            <br>
                                                Brodos is a web based application mainly used for inventory management.
                                                Application is developed with the help of extended components in Ext-JS and also used
                                                stored procedure techniques for DB operations. Application manages hardware products
                                                (Like mobile phones, accessories etc.) and virtual product (Like Recharge vouchers,
                                                Prepaid cards etc.)
                                            </p>
                                        </div>
                                    </div>
                                </article>

                                <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                                    <div class="timeline-entry-inner">
                                        <div class="timeline-icon color-5">
                                            <i class="icon-pen2"></i>
                                        </div>
                                        <div class="timeline-label">
                                            at &nbsp;<h2 style="display: inline">Mango IT Solutions Pvt. Ltd.</h2><br>
                                            <span> - India</span><br><br>
                                            as <br><h2 style="display: inline">Software Engineer</h2><span style="float: right">June, 2010 - August, 2012</span>
                                            <p>
                                                <br>
                                                Screenpop is a web based ecommerce system used for following features.
                                                It’s a white label solution so that client can replicate the site with different themes and
                                                designs
                                            </p>
                                            <ul>
                                                <li>Buy CDs, DVDs and Blue Rays online</li>
                                                <li>Easy payment methods with Paypal and Securepay</li>
                                                <li>Promotions and offers management</li>
                                                <li>Purchase Gift vouchers</li>
                                                <li>Order Management system( Payments )</li>
                                                <li>Dynamic report generation feature. User & Role Management</li>
                                            </ul>
                                        </div>
                                    </div>
                                </article>

                                <article class="timeline-entry begin animate-box" data-animate-effect="fadeInBottom">
                                    <div class="timeline-entry-inner">
                                        <div class="timeline-icon color-none">
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--<section class="colorlib-work" data-section="work">
                <div class="colorlib-narrow-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                            <span class="heading-meta">My Work</span>
                            <h2 class="colorlib-heading animate-box">Recent Work</h2>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
                        <div class="col-md-12">
                            <p class="work-menu"><span><a href="#" class="active">Graphic Design</a></span> <span><a href="#">Web Design</a></span> <span><a href="#">Software</a></span> <span><a href="#">Apps</a></span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <div class="project" style="background-image: url(static/images/img-1.jpg);">
                                <div class="desc">
                                    <div class="con">
                                        <h3><a href="work.html">Work 01</a></h3>
                                        <span>Website</span>
                                        <p class="icon">
                                            <span><a href="#"><i class="icon-share3"></i></a></span>
                                            <span><a href="#"><i class="icon-eye"></i> 100</a></span>
                                            <span><a href="#"><i class="icon-heart"></i> 49</a></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <div class="project" style="background-image: url(static/images/img-2.jpg);">
                                <div class="desc">
                                    <div class="con">
                                        <h3><a href="work.html">Work 02</a></h3>
                                        <span>Animation</span>
                                        <p class="icon">
                                            <span><a href="#"><i class="icon-share3"></i></a></span>
                                            <span><a href="#"><i class="icon-eye"></i> 100</a></span>
                                            <span><a href="#"><i class="icon-heart"></i> 49</a></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInTop">
                            <div class="project" style="background-image: url(static/images/img-3.jpg);">
                                <div class="desc">
                                    <div class="con">
                                        <h3><a href="work.html">Work 03</a></h3>
                                        <span>Illustration</span>
                                        <p class="icon">
                                            <span><a href="#"><i class="icon-share3"></i></a></span>
                                            <span><a href="#"><i class="icon-eye"></i> 100</a></span>
                                            <span><a href="#"><i class="icon-heart"></i> 49</a></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInBottom">
                            <div class="project" style="background-image: url(static/images/img-4.jpg);">
                                <div class="desc">
                                    <div class="con">
                                        <h3><a href="work.html">Work 04</a></h3>
                                        <span>Application</span>
                                        <p class="icon">
                                            <span><a href="#"><i class="icon-share3"></i></a></span>
                                            <span><a href="#"><i class="icon-eye"></i> 100</a></span>
                                            <span><a href="#"><i class="icon-heart"></i> 49</a></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <div class="project" style="background-image: url(static/images/img-5.jpg);">
                                <div class="desc">
                                    <div class="con">
                                        <h3><a href="work.html">Work 05</a></h3>
                                        <span>Graphic, Logo</span>
                                        <p class="icon">
                                            <span><a href="#"><i class="icon-share3"></i></a></span>
                                            <span><a href="#"><i class="icon-eye"></i> 100</a></span>
                                            <span><a href="#"><i class="icon-heart"></i> 49</a></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
                            <div class="project" style="background-image: url(static/images/img-6.jpg);">
                                <div class="desc">
                                    <div class="con">
                                        <h3><a href="work.html">Work 06</a></h3>
                                        <span>Web Design</span>
                                        <p class="icon">
                                            <span><a href="#"><i class="icon-share3"></i></a></span>
                                            <span><a href="#"><i class="icon-eye"></i> 100</a></span>
                                            <span><a href="#"><i class="icon-heart"></i> 49</a></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 animate-box">
                            <p><a href="#" class="btn btn-primary btn-lg btn-load-more">Load more <i class="icon-reload"></i></a></p>
                        </div>
                    </div>
                </div>
            </section>-->

            <section class="colorlib-contact" data-section="contact">
                <div class="colorlib-narrow-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                            <span class="heading-meta">Get in Touch</span>
                            <h2 class="colorlib-heading">Contact</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInLeft">
                                <div class="colorlib-icon">
                                    <i class="icon-mail"></i>
                                </div>
                                <div class="colorlib-text">
                                    <!--<p><a href="#">info@domain.com</a></p>-->
                                    <p><a th:text="${user.email}"></a></p>
                                </div>
                            </div>

                            <div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInLeft">
                                <div class="colorlib-icon">
                                    <i class="icon-map"></i>
                                </div>
                                <div class="colorlib-text">
                                    <!--<p>198 West 21th Street, Suite 721 New York NY 10016</p>-->
                                    <p><span th:text="${user.address}"></span></p>
                                </div>
                            </div>

                            <div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInLeft">
                                <div class="colorlib-icon">
                                    <i class="icon-phone"></i>
                                </div>
                                <div class="colorlib-text">
                                    <!--<p><a href="tel://">+123 456 7890</a></p>-->
                                    <p><a href="tel://" th:text="${user.phone}"></a></p>
                                </div>
                            </div>

                            <div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInLeft">
                                <div class="colorlib-icon">
                                    <i class="icon-linkedin2"></i>
                                </div>
                                <div class="colorlib-text">
                                    <!--<p><a href="tel://">+123 456 7890</a></p>-->
                                    <p><a th:href="${user.linkedUrl}" th:text="${user.linkedUrl}" target="_blank"></a></p>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-md-7 col-md-push-1">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1 col-md-pull-1 animate-box" data-animate-effect="fadeInRight">
                                    <form action="">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Name">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Subject">
                                        </div>
                                        <div class="form-group">
                                            <textarea name="" id="message" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-primary btn-send-message" value="Send Message">
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>-->
                    </div>
                </div>
            </section>

        </div><!-- end:colorlib-main -->
    </div><!-- end:container-wrap -->
</div><!-- end:colorlib-page -->

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="/js/jquery.waypoints.min.js"></script>
<!-- Flexslider -->
<script src="/js/jquery.flexslider-min.js"></script>
<!-- Owl carousel -->
<script src="/js/owl.carousel.min.js"></script>
<!-- Counters -->
<script src="/js/jquery.countTo.js"></script>


<!-- MAIN JS -->
<script src="/js/main.js"></script>

</body>
</html>

